.home {
    background-color: rgb(20,21,32);
    min-height: 100vh;
    color: white;
    position: relative;
    display: block;
    padding: 40px 20px;
    font-family: 'Segoe UI', sans-serif;
    
  }
  
  .section {
    width: 100%;
    max-width: 1000px;
    text-align: center;
    margin: 40px auto;
    position: relative;
  }
  
  .title {
    margin-top: 0;
  }
  
  .hook {
    margin-top: 190px; 
  }
  
  .summary {
    margin-top: 100px;
  }
  
  .title h1 {
    font-size: 2rem;
  }
  
  .hook h2 {
    font-size: 4rem;
  }
  
  .summary p {
    font-size: 2rem;
    line-height: 1.6;
  }
  
  .start-now-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px; 
  }
  
  #start-button {
    padding: 7px 20px;
    font-size: 1.4rem;
    font-weight:bolder;
    border: none;
    border-radius: 5px;
    color: rgb(75, 34, 172);
    background-color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    height: 40px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
  }
  
  #start-button:hover {
    background-color: rgb(75, 34, 172);
    color: white;
  }
  
